<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/htmx-1.9.12.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Index</title>
    {% block head %}{% endblock head %}
</head>
<!-- templates/base.html -->
<body>
    <div id="main">
        <div id="nav">
            {% include "nav" %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock content%}
        </div>
    </div>
</body>
</html>
