<div id="navlist">
<!-- templates/nav.html -->
<span><a href="/"> Home </a></span>
{% if services is defined %}
 SmartApps: 
	{% for s in services %} 
	<span id="service-{{s._id}}">
		<a href="{{s.uri}}">{{s.name}}</a> 
	</span>
	{% endfor %}
{% endif %}
</div>
