<!-- templates/users.html -->
<h1>Users</h1>
<div id="users">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name, Fields</th>
            <th>Roles</th>
            <th>Emails</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody id="users-content">
        {% for user in users %}
            {% include "user" %}
        {% endfor %}
    </tbody>
</table>
</div>
